<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spot Trading</title>
</head>
<body>
<h1> Obecnie analizujesz: <span th:text="${crypto.pairName}"></span></h1>
<div>
    <span>ostatnia cena waluty wynosiła:<span th:text="${crypto.getLastPrice()}"></span> </span>
</div>
<p>Dostepna analiza pozwala na sprawdzenie efektywnosci dostepnych wskaznikow z wykorzystaniem historycznych danych </p>
<!--<table>-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Title</th>-->
<!--        <th>Publisher</th>-->
<!--    </tr>-->
<!--    <tr th:each="book : ${books}">-->
<!--        <td th:text="${book.id}">123</td>-->
<!--        <td th:text="${book.title}">Spring in Action </td>-->
<!--        <td th:text="${book.publisher.publisherName}">Wrox</td>-->
<!--    </tr>-->
<!--</table>-->
</body>
</html>